<!-- Input for adding new tasks -->
<form class="form-add" #taskForm="ngForm" *ngIf="showForm">
  <mat-form-field class="form__element">
    <input
      matInput
      required
      [(ngModel)]="newTask.title"
      placeholder="New Task Title"
      name="title"
      #title="ngModel"
    />
  </mat-form-field>
  <mat-form-field class="form__element">
    <input
      matInput
      required
      [(ngModel)]="newTask.day"
      placeholder="New Task Day"
      name="day"
      #day="ngModel"
    />
  </mat-form-field>

  <mat-checkbox
    class="form__element"
    [(ngModel)]="newTask.reminder"
    placeholder="Remind me"
    name="reminder"
    #reminder="ngModel"
    >Set reminder?</mat-checkbox
  >

  <button
    type="submit"
    mat-raised-button
    color="accent"
    [disabled]="!taskForm.form.valid"
    (click)="addTask(newTask)"
  >
    Add Task
  </button>
</form>
<!-- Input for adding new tasks -->
